{% extends 'base.html' %}
{% block main_content %}
    <div class="row">
<div class="wrapper">
     <div class="col-md-12">
                    <section class="panel">
                        <div class="panel-body">
                            <form class="form-horizontal" role="form" method="post">
                                {{ form.hidden_tag() }}
                                <div class="form-group">
                                    {{ form.name.label(class="col-lg-2 col-sm-2 control-label") }}
                                    <div class="col-lg-10">
                                        {{ form.name(class="form-control") }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form.gender.label(class="col-lg-2 col-sm-2 control-label") }}
                                    <div class="col-lg-10">
                                        {% for gender in form.gender %}
                                        {{ gender }}{{ gender.label }}
                                        {% endfor %}

                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form.job.label(class="col-lg-2 col-sm-2 control-label") }}
                                    <div class="col-lg-10">
                                        {{ form.job(class="form-control") }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form.departmentid.label(class="col-lg-2 col-sm-2 control-label") }}
                                    <div class="col-lg-10">
                                        {{ form.departmentid(class="form-control") }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form.salary.label(class="col-lg-2 col-sm-2 control-label") }}
                                    <div class="col-lg-10">
                                        {{ form.salary(class="form-control") }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form.birthdate.label(class="col-lg-2 col-sm-2 control-label") }}
                                    <div class="col-lg-10">
                                        {{ form.birthdate(class="form-control") }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form.idcard.label(class="col-lg-2 col-sm-2 control-label") }}
                                    <div class="col-lg-10">
                                        {{ form.idcard(class="form-control") }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form.address.label(class="col-lg-2 col-sm-2 control-label") }}
                                    <div class="col-lg-10">
                                        {{ form.address(class="form-control") }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button type="submit" class="btn btn-primary">提交</button>
                                        <button type="reset" class="btn btn-primary">重置</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
</div>
    </div>
{% endblock %}