{% extends 'base.html' %}
{% import 'helper.html' as helper %}
{% block main_content %}
    <div class="row">
        <div class="wrapper">
            <div class="col-md-12">
                <section class="panel">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>姓名</th>
                            <th>性别</th>
                            <th>职位</th>
                            <th>部门</th>
                            <th>工资</th>
                            <th>住址</th>
                            <th>操作</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for e in emp.items %}
                            <tr>
                                <td>{{ e.id }}</td>
                                <td>{{ e.name }}</td>
                                <td>{{ e.gender }}</td>
                                <td>{{ e.job }}</td>
                                <td>{{ e.department.name }}</td>
                                <td>{{ e.salary }}</td>
                                <td>{{ e.address }}</td>
                                <td>
                                    <a href="{{ url_for('admin.edit',id=e.id) }}">查看</a>
                                    <a href="{{ url_for('admin.edit',id=e.id) }}">编辑</a>
                                    <a href="{{ url_for('admin.del',id=e.id) }}">删除</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </section>
                {{ helper.render_paginate(emp,'admin.emplist') }}
            </div>
        </div>
    </div>
    </div>

{% endblock %}